extends layout

block content

  .row.purchace-popup
    .col-12
      span.d-flex.alifn-items-center
        p Like what you see? Check out our premium version for more.
        a.btn.ml-auto.download-button(href='https://github.com/BootstrapDash/StarAdmin-Free-Bootstrap-Admin-Template', target='_blank') Download Free Version
        a.btn.purchase-button(href='https://www.bootstrapdash.com/product/star-admin-pro/', target='_blank') Upgrade To Pro
        i.mdi.mdi-close.popup-dismiss
  .row
    .col-xl-3.col-lg-3.col-md-3.col-sm-6.grid-margin.stretch-card
      .card.card-statistics
        .card-body
          .clearfix
            .float-left
              i.mdi.mdi-cube.text-danger.icon-lg
            .float-right
              p.mb-0.text-right Total Revenue
              .fluid-container
                h3.font-weight-medium.text-right.mb-0 $65,650
          p.text-muted.mt-3.mb-0
            i.mdi.mdi-alert-octagon.mr-1(aria-hidden='true')
            |  65% lower growth
    .col-xl-3.col-lg-3.col-md-3.col-sm-6.grid-margin.stretch-card
      .card.card-statistics
        .card-body
          .clearfix
            .float-left
              i.mdi.mdi-receipt.text-warning.icon-lg
            .float-right
              p.mb-0.text-right Orders
              .fluid-container
                h3.font-weight-medium.text-right.mb-0 3455
          p.text-muted.mt-3.mb-0
            i.mdi.mdi-bookmark-outline.mr-1(aria-hidden='true')
            |  Product-wise sales
    .col-xl-3.col-lg-3.col-md-3.col-sm-6.grid-margin.stretch-card
      .card.card-statistics
        .card-body
          .clearfix
            .float-left
              i.mdi.mdi-poll-box.text-success.icon-lg
            .float-right
              p.mb-0.text-right Sales
              .fluid-container
                h3.font-weight-medium.text-right.mb-0 5693
          p.text-muted.mt-3.mb-0
            i.mdi.mdi-calendar.mr-1(aria-hidden='true')
            |  Weekly Sales
    .col-xl-3.col-lg-3.col-md-3.col-sm-6.grid-margin.stretch-card
      .card.card-statistics
        .card-body
          .clearfix
            .float-left
              i.mdi.mdi-account-location.text-info.icon-lg
            .float-right
              p.mb-0.text-right Employees
              .fluid-container
                h3.font-weight-medium.text-right.mb-0 246
          p.text-muted.mt-3.mb-0
            i.mdi.mdi-reload.mr-1(aria-hidden='true')
            |  Product-wise sales
  .row
    .col-lg-7.grid-margin.stretch-card
      // weather card
      .card.card-weather
        .card-body
          .weather-date-location
            h3 Monday
            p.text-gray
              span.weather-date 25 October, 2016
              span.weather-location London, UK
          .weather-data.d-flex
            .mr-auto
              h4.display-3
                | 21
                span.symbol °
                | C
              p
                | Mostly Cloudy
        .card-body.p-0
          .d-flex.weakly-weather
            .weakly-weather-item
              p.mb-0
                | Sun
              i.mdi.mdi-weather-cloudy
              p.mb-0
                | 30°
            .weakly-weather-item
              p.mb-1
                | Mon
              i.mdi.mdi-weather-hail
              p.mb-0
                | 31°
            .weakly-weather-item
              p.mb-1
                | Tue
              i.mdi.mdi-weather-partlycloudy
              p.mb-0
                | 28°
            .weakly-weather-item
              p.mb-1
                | Wed
              i.mdi.mdi-weather-pouring
              p.mb-0
                | 30°
            .weakly-weather-item
              p.mb-1
                | Thu
              i.mdi.mdi-weather-pouring
              p.mb-0
                | 29°
            .weakly-weather-item
              p.mb-1
                | Fri
              i.mdi.mdi-weather-snowy-rainy
              p.mb-0
                | 31°
            .weakly-weather-item
              p.mb-1
                | Sat
              i.mdi.mdi-weather-snowy
              p.mb-0
                | 32°
      // weather card ends
    .col-lg-5.grid-margin.stretch-card
      .card
        .card-body
          h2.card-title.text-primary.mb-5 Performance History
          .wrapper.d-flex.justify-content-between
            .side-left
              p.mb-2 The best performance
              p.display-3.mb-4.font-weight-light +45.2%
            .side-right
              small.text-muted 2017
          .wrapper.d-flex.justify-content-between
            .side-left
              p.mb-2 Worst performance
              p.display-3.mb-5.font-weight-light -35.3%
            .side-right
              small.text-muted 2015
          .wrapper
            .d-flex.justify-content-between
              p.mb-2 Sales
              p.mb-2.text-primary 88%
            .progress
              .progress-bar.bg-primary.progress-bar-striped.progress-bar-animated(role='progressbar', style='width: 88%', aria-valuenow='88', aria-valuemin='0', aria-valuemax='100')
          .wrapper.mt-4
            .d-flex.justify-content-between
              p.mb-2 Visits
              p.mb-2.text-success 56%
            .progress
              .progress-bar.bg-success.progress-bar-striped.progress-bar-animated(role='progressbar', style='width: 56%', aria-valuenow='56', aria-valuemin='0', aria-valuemax='100')
  .row
    .col-md-12.grid-margin
      .card
        .card-body
          .row.d-none.d-sm-flex.mb-4
            .col-4
              h5.text-primary Unique Visitors
              p 34657
            .col-4
              h5.text-primary Bounce Rate
              p 45673
            .col-4
              h5.text-primary Active session
              p 45673
          .chart-container
            canvas#dashboard-area-chart(height='80')
  .row
    .col-lg-12.grid-margin
      .card
        .card-body
          h4.card-title Orders
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th
                    | #
                  th
                    | First name
                  th
                    | Progress
                  th
                    | Amount
                  th
                    | Sales
                  th
                    | Deadline
              tbody
                tr
                  td.font-weight-medium
                    | 1
                  td
                    | Herman Beck
                  td
                    .progress
                      .progress-bar.bg-success.progress-bar-striped(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $ 77.99
                  td.text-danger
                    | 53.64%
                    i.mdi.mdi-arrow-down
                  td
                    | May 15, 2015
                tr
                  td.font-weight-medium
                    | 2
                  td
                    | Messsy Adam
                  td
                    .progress
                      .progress-bar.bg-danger.progress-bar-striped(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $245.30
                  td.text-success
                    | 24.56%
                    i.mdi.mdi-arrow-up
                  td
                    | July 1, 2015
                tr
                  td.font-weight-medium
                    | 3
                  td
                    | John Richards
                  td
                    .progress
                      .progress-bar.bg-warning.progress-bar-striped(role='progressbar', style='width: 90%', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $138.00
                  td.text-danger
                    | 28.76%
                    i.mdi.mdi-arrow-down
                  td
                    | Apr 12, 2015
                tr
                  td.font-weight-medium
                    | 4
                  td
                    | Peter Meggik
                  td
                    .progress
                      .progress-bar.bg-primary.progress-bar-striped(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $ 77.99
                  td.text-danger
                    | 53.45%
                    i.mdi.mdi-arrow-down
                  td
                    | May 15, 2015
                tr
                  td.font-weight-medium
                    | 5
                  td
                    | Edward
                  td
                    .progress
                      .progress-bar.bg-danger.progress-bar-striped(role='progressbar', style='width: 35%', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $ 160.25
                  td.text-success
                    | 18.32%
                    i.mdi.mdi-arrow-up
                  td
                    | May 03, 2015
                tr
                  td.font-weight-medium
                    | 6
                  td
                    | Henry Tom
                  td
                    .progress
                      .progress-bar.bg-warning.progress-bar-striped(role='progressbar', style='width: 20%', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                  td
                    | $ 150.00
                  td.text-danger
                    | 24.67%
                    i.mdi.mdi-arrow-down
                  td
                    | June 16, 2015
  .row
    .col-12.grid-margin
      .card
        .card-body
          h5.card-title.mb-4 Manage Tickets
          .fluid-container
            .row.ticket-card.mt-3.pb-2.border-bottom.pb-3.mb-3
              .col-md-1
                img.img-sm.rounded-circle.mb-4.mb-md-0(src='images/faces/face1.jpg', alt='profile image')
              .ticket-details.col-md-9
                .d-flex
                  p.text-dark.font-weight-semibold.mr-2.mb-0.no-wrap James :
                  p.text-primary.mr-1.mb-0 [#23047]
                  p.mb-0.ellipsis Donec rutrum congue leo eget malesuada.
                p.text-gray.ellipsis.mb-2
                  | Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
                  | vivamus.
                .row.text-gray.d-md-flex.d-none
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted.text-muted Last responded :
                    small.Last-responded.mr-2.mb-0.text-muted.text-muted 3 hours ago
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted.text-muted Due in :
                    small.Last-responded.mr-2.mb-0.text-muted.text-muted 2 Days
              .ticket-actions.col-md-2
                .btn-group.dropdown
                  button.btn.btn-success.dropdown-toggle.btn-sm(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Manage
                  .dropdown-menu
                    a.dropdown-item(href='#')
                      i.fa.fa-reply.fa-fw
                      | Quick reply
                    a.dropdown-item(href='#')
                      i.fa.fa-history.fa-fw
                      | Another action
                    .dropdown-divider
                    a.dropdown-item(href='#')
                      i.fa.fa-check.text-success.fa-fw
                      | Resolve Issue
                    a.dropdown-item(href='#')
                      i.fa.fa-times.text-danger.fa-fw
                      | Close Issue
            .row.ticket-card.mt-3.pb-2.border-bottom.pb-3.mb-3
              .col-md-1
                img.img-sm.rounded-circle.mb-4.mb-md-0(src='images/faces/face2.jpg', alt='profile image')
              .ticket-details.col-md-9
                .d-flex
                  p.text-dark.font-weight-semibold.mr-2.mb-0.no-wrap Stella :
                  p.text-primary.mr-1.mb-0 [#23135]
                  p.mb-0.ellipsis Curabitur aliquet quam id dui posuere blandit.
                p.text-gray.ellipsis.mb-2
                  | Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Curabitur non nulla sit amet
                  | nisl.
                .row.text-gray.d-md-flex.d-none
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted Last responded :
                    small.Last-responded.mr-2.mb-0.text-muted 3 hours ago
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted Due in :
                    small.Last-responded.mr-2.mb-0.text-muted 2 Days
              .ticket-actions.col-md-2
                .btn-group.dropdown
                  button.btn.btn-success.dropdown-toggle.btn-sm(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Manage
                  .dropdown-menu
                    a.dropdown-item(href='#')
                      i.fa.fa-reply.fa-fw
                      | Quick reply
                    a.dropdown-item(href='#')
                      i.fa.fa-history.fa-fw
                      | Another action
                    .dropdown-divider
                    a.dropdown-item(href='#')
                      i.fa.fa-check.text-success.fa-fw
                      | Resolve Issue
                    a.dropdown-item(href='#')
                      i.fa.fa-times.text-danger.fa-fw
                      | Close Issue
            .row.ticket-card.mt-3
              .col-md-1
                img.img-sm.rounded-circle.mb-4.mb-md-0(src='images/faces/face3.jpg', alt='profile image')
              .ticket-details.col-md-9
                .d-flex
                  p.text-dark.font-weight-semibold.mr-2.mb-0.no-wrap John Doe :
                  p.text-primary.mr-1.mb-0 [#23246]
                  p.mb-0.ellipsis Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.
                p.text-gray.ellipsis.mb-2
                  | Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet.
                .row.text-gray.d-md-flex.d-none
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted Last responded :
                    small.Last-responded.mr-2.mb-0.text-muted 3 hours ago
                  .col-4.d-flex
                    small.mb-0.mr-2.text-muted Due in :
                    small.Last-responded.mr-2.mb-0.text-muted 2 Days
              .ticket-actions.col-md-2
                .btn-group.dropdown
                  button.btn.btn-success.dropdown-toggle.btn-sm(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Manage
                  .dropdown-menu
                    a.dropdown-item(href='#')
                      i.fa.fa-reply.fa-fw
                      | Quick reply
                    a.dropdown-item(href='#')
                      i.fa.fa-history.fa-fw
                      | Another action
                    .dropdown-divider
                    a.dropdown-item(href='#')
                      i.fa.fa-check.text-success.fa-fw
                      | Resolve Issue
                    a.dropdown-item(href='#')
                      i.fa.fa-times.text-danger.fa-fw
                      | Close Issue