footer.footer
            .container-fluid.clearfix
              span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
                | Copyright © 2018
                a(href='http://www.bootstrapdash.com/', target='_blank') Bootstrapdash
                | . All rights reserved.
              span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
                | Hand-crafted & made with
                i.mdi.mdi-heart.text-danger